node_modules
.env
package-lock.json
.vscode/launch.json
*.session.sql
.vscode/settings.json
Dualnet Database.session.sql
dumpfile.sql
backup.sql
.vscode/settings.json
backup.dump
.cursorignore
Backend/.mysql.39609
Backend/.my.cnf.39609
Backend/build
Backend.zip
Backend/Lets_Encrypt_dualnet.ch.pem
Backend/jobs/populate.js
Backend/config/Database.js
Backend/package.json
