.header {
  @apply flex justify-between w-full max-w-[1686px] items-center flex-shrink px-14;
}

@media (max-width: 768px) {
  .header {
    @apply flex-col items-center justify-center;
  }
}

.headerNav {
  @apply flex justify-between items-center text-xl self-end min-w-fit w-[437px] h-[45px] flex-shrink;
}

.headerText {
  @apply transition-opacity duration-300 ease-in-out;
}

.darkModeText {
  @apply text-[#DDDDDD] opacity-30;
}

.darkModeText:hover {
  @apply opacity-50;
}

.lightModeText {
  @apply text-[#979191] opacity-100;
}

.lightModeText:hover {
  @apply opacity-100;
}

.modeToggle {
  @apply inline-flex cursor-pointer items-center;
}

.toggleButton {
  @apply w-[21px] h-[21px] ml-2;
}

.headerLink {
  @apply inline-flex cursor-pointer;
}

.faq {
  @apply inline-flex cursor-pointer mr-6;
}

.logo {
  @apply w-[358px] h-[111px] pb-[14px];
}

/* Add these new styles at the end of the file */
:global(.light) .headerText {
  color: #979191;
  opacity: 1;
}

:global(.light) .headerText:hover {
  opacity: 1;
}

:global(.dark) .headerText {
  color: #DDDDDD;
}
